<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joke Api</title>
</head>
<body>
  <h1>Welcome to joke Api</h1>

  <p>Here comes your joke</p>

</body>
</html>